
.ql-container.ql-snow {
      border: 1px solid #3E434C !important;
      border-radius: 0px 0px 6px 6px;

}
.ql-toolbar.ql-snow{
      border: 1px solid #3E434C !important;
      border-radius: 6px 6px 0px 0px;
}
.ql-snow .ql-picker.ql-header .ql-picker-label::before, .ql-snow .ql-picker.ql-header .ql-picker-item::before{
      color: #0D9E8D;
      font-family: 'crayond_medium';
}
.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options{
      background-color: #22252C !important;
      color: #0D9E8D !important;
      border: none !important;
}
.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label{
      border: none !important;
}
.ql-snow .ql-stroke{
      stroke:#0D9E8D
}
.ql-editor{
      color: #fff;
      font-family: 'crayond_medium';
}
.emoji-picker-react{
      border: 1px solid #3E434C !important;
      background-color:#22252C !important;
      box-shadow:none !important;
}
.emoji-picker-react .emoji-group:before{
      background-color:#22252C !important;
      color:#fff !important
}
.emoji-picker-react input.emoji-search{
      background-color:#22252C !important;
}
.emoji-picker-react .emoji-categories{
      background-color:#b3aeae !important;
}
.emoji-picker-react .active-category-indicator-wrapper .active-category-indicator{
      background-color:#0D9E8D !important;
}